.venv/*

.idea/
data/improved.txt
*/.pytest_cache/
*/__pycache__/

.vscode/*      
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.aux
*.bbl
*.log
*.synctex.gz